<div class="script">
  <% Faker::Lorem.paragraphs(3).each do |p| %>
    <p><%= p %></p>
  <% end %>
</div>

<hr>

<div class="mono">
  <% Faker::Lorem.paragraphs(3).each do |p| %>
    <p><%= p %></p>
  <% end %>
</div>
